@media only screen and (min-device-width: 1024px) and (orientation: landscape){
	body   {
	width: 100%;
	height: 100%;
	background-color: #FFF;

		#head	{
			width: 100%;
			height: 100px;
			background-color:  #00ADEF;

			h1	{
				font: 900 50px arial;
				text-align: center;
				padding-top: 12.5px;
			}
		}
		
		#choose	{
			width: 200px;
			margin: 20px auto 0 auto;

			
			select	{
				width: 200px;
				height: 50px;
				font: 500 20px arial;
				background-color: lightgray;
			}
			
			option	{
				font: 500 20px arial; 
			}
			
			.model	{
				display: none;
				background-color: lightgray;
			}

		}

		#carDetails	{
			width: 25%;
			margin: 20px auto 0 auto;

			img  {
				width: 100%;
			}

			h1	{
				font: 400 30px arial;
				text-align: center;
			}

			h3	{
				font: 20px arial;
			}
		}
	}
}